.home-wrapper {
  border: 1px solid black;
  margin: 50px 120px;
  border-radius: 7px;

}

.container {
  padding: 40px 40px;
}

.container .contbord {
  border: 1px solid black;
}

.box {
  background-color: gray;
  background-size: cover;
  height: 150px
}

.big table {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
}

table tr td {
border: 1px solid black;
border-radius: 5px;
height: 50px;
width: 90px;
text-align: center;
}


 th {
   padding-bottom: 15px;

 }

 @media only screen and (max-width: 991px) {
   .home-wrapper {
    width: 50%;
   }

   .big {
     padding-right: 150px;
     width: 50%;
   }
 }

 @media only screen and (max-width: 700px) {
   .home-wrapper {
    width: 40%;
   }

   .big{
     padding-right: 100px;
     width: 150px;
     height: 40px;
   }

 }

 @media only screen and (max-width: 500px) {
   .home-wrapper {
    width: 30%;
   }


   .big {
     padding-right: 60px;
   }
 }

 @media only screen and (min-width: 400px) {
   .big {
     padding-right: 70px;
   }
 }

 @media only screen and (min-width: 300px) {

   .big {
     padding-right: 120px;
   }

    tr th td{
     width:150px;
     height: 40px;
   }
 }

 @media only screen and (min-width: 200px) {

   .big {
     padding-right: 170px;
   }
 }
